table{
	
	margin: 0 auto;
	border-radius: 25px;
	margin-top:25px;
}

th{
	padding: 10px;
	background-color:#52de97;
	height: 55px;
}

td {
	
	padding: 10px;
	/*background-color:buttonface;*/
	height: 45px;
	font-size:17px;
}

.cre{
	margin: 0 auto;
	text-align: center;	
	margin-top: 80px;
}

.fo{
	font-weight: bold;
}

.logout{
	margin-left:45%;
	padding: 30px;
}

tr:nth-child(odd){
	background-color:#dddddd;
}

tr:nth-child(even) {
	background-color:#ffffff;
}

.disable{
 pointer-events: none;
  cursor: default;
}

.badge{
	font-size:15px;
	
}
