@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
*{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
body{
	background-color:#f9fcfb;
}

table{
	
	margin: 0 auto;
	border-radius: 25px;
	margin-top:25px;
}

th{
	padding: 10px;
	background-color:#52de97;
	height: 55px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

td {
	
	padding: 10px;
	/*background-color:buttonface;*/
	height: 45px;
	font-size:17px;
}

.cre{
	margin: 0 auto;
	text-align: center;	
	margin-top: 80px;
}

.fo{
	font-weight: bold;
}

.logout{
	/*margin-left:45%;*/
	/*padding: 30px;*/
	font-family: 'Poppins', sans-serif;	
	font-weight: 600;
	transition:0.7s background-color;
}

tr:nth-child(odd){
	background-color:#dddddd;
}

tr:nth-child(even) {
	background-color:#ffffff;
}

.disable{
 pointer-events: none;
  cursor: default;
}

.badge{
	font-size:15px;	
}
