/*.in{
	width:60%;
	
}*/


.form{
	margin:0 auto;
	margin-top: 13%;
	margin-left: 450px;
	margin-right: 450px;
	padding: 20px;
	background-color: #e3e3e3;

	
}

.cen{
	padding:0px;
	
}